h1 {
    font-size: 22px;
    font-family: 'Comic Sans';
    padding: 10px;
    margin: 10px;
    font-weight: heavy;
    text-decoration: none;
    color: black;
    background-color: white;
}

h2 {
    font-size: 20px;
    font-family: 'Comic Sans';
    padding: 10px;
    margin: 10px;
    font-weight: heavy;
    color: darkslategrey;
    background-color: white;
}

p {
    font-family: 'Comic Sans';
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: white;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: red;
    height: 100px;
    width: span;
}
